################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QwintoA/.vs/QwintoA/v15/Browse.VC.opendb
QwintoA/.vs/QwintoA/v15/.suo
QwintoA/.vs/QwintoA/v15/Browse.VC.db
QwintoA/.vs/QwintoA/v15/.suo
QwintoA/.vs/QwintoA/v15/Browse.VC.db
*.db
QwintoA/.vs/QwintoA/v15/.suo
QwintoA/QwintoA/QwintoA.vcxproj
QwintoA/QwintoA/QwintoA.vcxproj.filters
*.obj
*.tlog
*.idb
*.pdb
*.log
*.ilk
*.exe
*.ipch
*.db
QwintoA/.vs/QwintoA/v15/.suo
QwintoA/.vs/QwintoA/v15/ipch/AutoPCH/36715c0c5e5a413f/DICE.ipch
*.ipch
*.db
*.db
QwintoA/.vs/QwintoA/v15/Browse.VC.db
