################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QwintoA/.vs/QwintoA/v15/Browse.VC.opendb
